<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <h1><%= court.title %></h1>
        <h5 class="text-muted"><%= court.location %></h5>
        <div class="card mb-3">
            <img src="<%= court.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= court.title %></h5>
              <p class="card-text"><%= court.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= court.location %></li>
              <li class="list-group-item"><%= court.website %></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/courts">All Courts</a>
                <a class="card-link btn btn-info" href="/courts/<%= court._id %>/edit">Edit Court</a>
              <form class="d-inline" action="/courts/<%= court._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
 
    </div>
</div>




